*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #f8f9fa; */
    background-image: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.body_portafolio{
    background-image: url('../img/fondo2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.mt-6{
    margin-top: 6rem;
}
.contacto {
  background-color: rgba(20, 20, 40, 0.8);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.imagen_card{
    max-height: 140px;
    width: auto !important;
}